@{
    ViewData["Title"] = "Cart";
}
<link rel="stylesheet" href="css/Menu/cart.css">
<script src="js/menu.js"></script> 

<div class="cart-container">
    <div class="cart-header">
        <h2>--- Your Cart ---</h2>
    </div>

    <div class="cart-items">
        
    </div>
    <div class="cart-summary">
        <div class="total-price">
            <p>
                Total Price: <span id="totalPriceElement"></span>
            </p>
        </div>
        <div>
            <button class="checkout-btn" disabled>Confirm Cart</button>
        </div>
    </div>
</div>
