@{
    ViewData["Title"] = "Cart";
}
<link rel="stylesheet" href="css/Menu/cart.css">
<script src="js/menu.js"></script> 

<div class="cart-container">
    <div class="cart-header">
        <h2>--- Your Cart ---</h2>
    </div>

    <div class="cart-items">
        
    </div>
    <div class="cart-summary">
        <div class="total-price">
            <p>
                Total Price: <span id="totalPriceElement"></span>
            </p>
        </div>
            <section class="bg-light">
                <div class="text-center">
                    <div class="row justify-content-center">
                        <div class="col-md-8 text-center">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reg-modal">
                                Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </section>
</div>

    <div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title align-items-center" id="modal-title">Confirm the Order</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="modal-name" class="form-label m-1"></label>
                    <input type="text" class="form-control" id="modal-name" placeholder="Name - Surname">
                    
                    <label for="modal-address" class="form-label m-1"></label>
                    <input type="text" class="form-control" id="modal-address" placeholder="Address">

                    <label for="modal-email" class="form-label m-1"></label>
                    <input type="email" class="form-control" id="modal-email" placeholder="Email Address">

                    <label for="modal-cart-number" class="form-label m-1"></label>
                    <input type="text" class="form-control" id="modal-cart-number" placeholder="Cart Number">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="sendOrderToController()">Pay</button>
                </div>
            </div>
        </div>
    </div>


