<link rel="stylesheet" href="css/Menu/index.css">
<div id="menu">
    <div id="menu-partial">
        @Html.Partial("_Menu")
    </div>
    <div id="cart-partial">
        @Html.Partial("_Cart")
    </div>
</div>
