@{
    ViewData["Title"] = "MainPage";
}
<link rel="stylesheet" href="css/Home/home.css">
<body>
    <div class="container">
        <img src="/Images/PastaVilla/PastaVilla.jpeg" alt="PastaVilla Logo">
        <div>
            <br />
            <p>Welcome to PastaVilla, where each dish shares a tale of tradition, flavor, and passion. Step into our cozy Italian-style retreat and embark on a culinary journey through the heart of Istanbul.</p>
            <p>At PastaVilla, we believe in more than simply serving meals; we believe in crafting memories. Whether you're enjoying an intimate dinner for two or gathering with loved ones for a joyful feast, our warm welcome and inviting ambiance guarantee that every visit to PastaVilla is an occasion to treasure.</p>
        </div>
    </div>
</body>

