body {
    height: 100%;
    overflow-y: hidden;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5.5em;
}

#menu-partial {
    overflow-y: auto;
    height: 48.9375em;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 0.3625em solid #6DA5C0;
    border-radius: 0.3125em;
}