body {
    height: 100%;
    overflow-y: hidden;
}

#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5.5em;
}

#menu-partial {
    overflow-y: auto;
    max-height: 775px;
    margin-bottom: 40px;
    margin-top: 40px;
    border: solid 10px black;
}
